.box{
    height:200px;
    width:300px;
    background-color: pink;
    animation-name: fontAnimation;
    animation-name:widthanimate;
    /* animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation:backcolor 3s ease-in 0s infinite normal;


}
@keyframes fontAnimation {
    from{font-size:20px;}
    to{font-size:40px;}
}
@keyframes backcolor {
    0%{background-color: brown;}
    50%{background-color: violet;}
    100%{background-color: tomato;}
    
}
@keyframes widthanimate {
    from{width:10px;}
    to{width:400px;}
    
}
