.main{
    height:400px;
    width:400px;
    border:5px solid aqua;
    border-radius:20px;
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
align-items:center;
}
.one{
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius:10px;
    background-color: gray;
    font-size: 50px;
    text-align: center;
}