#container{
    height:500px;
    width:80%;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    display:flex;
    flex-direction: column;
   align-content:space-around;
   flex-wrap: wrap;
  
   /*align-items: flex-end;*/
 
}
#container div{
    height:100px;
    width:300px;
color:white;
text-align:center;
font-size:20px;
}