.container{
    width:600px;
    height:300px;
    background-color:yellow;
    display:grid;
    /*grid-template-rows:50px 50px 50px  50px;*/
grid-template-rows: repeat(5,1fr);
    /*grid-template-columns: 100px 100px 100px 100px;*/
    row-gap:10px;
}
.item{
height:50px;
   width:100px;
    background-color: greenyellow;
    border:2px solid black;
    text-align:center;

}
.one{
    grid-column-start: 1;
    grid-column-end: 3;

}
.two{
    grid-row-start: 1;
    grid-row-end: 3;
}