.box{
    height:800px;
    width:800px;
border:2px solid black;
display:grid;
grid-template-columns: repeat(11,1fr);
grid-template-rows: repeat(11,1fr);
grid-gap:10px;

}
.item{
    background-color: pink;

}
.flexbox{
    height:800px;
    width:800px;
border:2px solid black;
display:grid;
grid-template-columns: repeat(11,1fr);
grid-template-rows: repeat(11,1fr);
grid-gap:10px;
height:200px;
width:300px;

}
.one{
   grid-column-start: 1;
    grid-column-end: 12;
}
.two{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 11;
}
.three{
    grid-column-start: 3;
    grid-column-end:9 ;
}
.four{
    grid-column-start: 9;
    grid-column-end:12 ;
    grid-row-start: 2;
    grid-row-end: 11;
}
.five{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 11;
}
.six{
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 12;

}