*{
font-family: 'Courier New', Courier, monospace;

}

#login{
background-color: white;
}
#signup{
    background-color: tomato;
    color:white;
}
h1,h3{
    color:#b92b27;
}
.upvote{
    background-color: green;
}
.answer{
    background-color: yellow;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: darkgrey;
}
div>input{
    background-color: cadetblue;
    transition:2s;
}
button:hover{
    background-color:black ;
    color:white;
    transition:margin-top 2s ease-in-out 0.3s;

   
}
h3:hover{
    text-decoration: none;
   
}
button:active{
    background-color: darkviolet;
    color:black;
}
p:active{
    font-weight: bold;
    color:green;
}
input[type="radio"]:checked+label{
    color:red;
    font-weight:bold;
}
.follow:nth-of-type(2){
background-color: wheat;
}