#div1{
    height:200px;
    width:70px;
    border:2px solid black;


}
.inner{
    height:50px;
    width:50px;
    border:2px solid black;
    margin:10px;
    border-radius:50%;
}
#div2{
    background-color:red;
}
#div3{
    background-color:yellow;
}
#div4{
    background-color:green;
}