*{
    margin:0;
    padding:0;
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.main_box{
    background-image:url("photo.jpg") ;
    height:100vh;
    background-size: cover;
}
.btn_one{
    color:white;
    font-size:20px;
    font-weight: 700;
    position:absolute;
    left:16px;
    line-height: 60px;
    cursor:pointer;
    

}
.sidebar_menu{
    position:fixed;
height:100vh;
width:350px;
background-color: rgba(255 ,255 ,255, 0.1);
left:-350px;
transition:0.5s;
box-shadow: 0 0 5px rgba(255,255,255,0.5);
}
.sidebar_menu .logo{
    position:absolute;
    width:100vh;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);

}
.sidebar_menu .logo a{
    position:absolute;
    left:54px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;



}
.sidebar_menu .btn_two i{
    color:grey;
    font-size:30px;
    font-weight: 700;
    position:absolute;
    left:300px;
    cursor:pointer;
    line-height: 60px; 

}
.sidebar_menu .menu{
    color:white;
    width:100%;
position:absolute;
 top:60px;




}
.sidebar_menu .menu li{
    margin-top:6px;
    padding:14px 20px;




}
.btn_one i{
    cursor:pointer;
    transition:0.2s;
}
.btn_one i:hover{

    font-size: 40px;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255,255,255,0.5);

}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;

}
.sidebar_menu .menu i{
    padding-right:8px;


}
.sidebar_menu .social_media{
color:white;
opacity:0.5;
position:absolute;
left:25%;
bottom:20px;

}
.sidebar_menu .social_media i{
    padding:0  2px;
    opacity:0.5;
    cursor:pointer;

}
#check{
    display:none;
}
.btn_two i:hover{
    font-size:40px;
   
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left:0;

}
#check:checked ~ .btn_one i{
    display:none;
}