h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
}
span{
    color:burlywood;
}
.card{
    width:300px;
    
    border:2px solid black;
    border-radius:20px;
    padding:20px;
    margin:20px;
    display:flex;
    flex-wrap:wrap;

}
img{
    width:100%;
}
#pets{
    display:flex;
    justify-content:space-evenly;
}
@media(max-width:375px){
    #pets{
        flex-wrap: wrap ;
    }
}