div{
    height:200px;
width:500px;
background-color: aquamarine;
border-width: 5px;
border-style: solid;
border-color: black;
border-radius: 50px;
padding: 40px;
margin-bottom: 20px;
margin:10px 20px 30px;
}
h1{
    border: 5px dashed green;
    border-left: 10px solid yellow;
    border-right: 5px solid yellow;
    border-top: 5px dashed maroon;
    border-radius: 1000px;
    padding:30px;
    margin-bottom: 30px;
    margin:10px 20px 30px;
}
button{
    border:2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right:20px;
    padding:0px 20px 0px 30px;
    margin: 10px 20px 30px;
}